## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:

import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
%matplotlib inline

df = pd.read_csv('kc_house_data.csv')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [3]:
#date and sqft_basement are str objects
#waterfront, view and yr_renovated have possible missing data. Lets deal with this first
#Grade = An index from 1 to 13, where 1-3 falls short of building construction and design, 7 has an average level of construction and design, and 11-13 have a high quality level of construction and design. 

df.isna().any() #General inquiry to see if the 'missing values' are null

id               False
date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront        True
view              True
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated      True
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [4]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [5]:
 #This way I verify that dropping the columns is not prudent. Can you clean this up? 
 #Maybe a def function? Look into it. 
wf_np = round((df['waterfront'].isna().sum() / len(df['waterfront'])) * 100) 
vw_np = round((df['view'].isna().sum() / len(df['view'])) * 100) 
yr_np = round((df['yr_renovated'].isna().sum() / len(df['yr_renovated'])) * 100)

print("Waterfront null = {} "  "View null = {} "  "Yr_renovated null = {}".format(wf_np, vw_np, yr_np))

Waterfront null = 11.0 View null = 0.0 Yr_renovated null = 18.0

In [6]:
def feature_percent_null(x):
    for i in x:
        i_return = round((i.isna().sum())/(len(i)*100))
    print('{} null = {}'.format(i, i_return))

In [7]:
waterfront_mean = round(df.waterfront.mean())
waterfront_median = df.waterfront.median()
print(waterfront_mean)
print(waterfront_median)

0.0
0.0

In [8]:
df.waterfront.unique()

array([nan,  0.,  1.])

In [9]:
#The unique values indicate that the waterfront category most likely has numerical
#place holder values. I do not want to elimnate rows or columns at this point. The best decision
#at the moment would be to replace all the NaNs with the median which is 0 
df['waterfront'] = df['waterfront'].fillna(df['waterfront'].median())

In [10]:
df.view.unique()

array([ 0., nan,  3.,  4.,  2.,  1.])

In [11]:
view_mean = df.view.mean()
view_median = df.view.median()
print(view_mean)
print(view_median)

0.23386272870808952
0.0

In [12]:
df['view'] = df['view'].fillna(df['view'].median()) #Same as waterfront rationale

In [13]:
df.yr_renovated.unique()

array([   0., 1991.,   nan, 2002., 2010., 1992., 2013., 1994., 1978.,
       2005., 2003., 1984., 1954., 2014., 2011., 1983., 1945., 1990.,
       1988., 1977., 1981., 1995., 2000., 1999., 1998., 1970., 1989.,
       2004., 1986., 2007., 1987., 2006., 1985., 2001., 1980., 1971.,
       1979., 1997., 1950., 1969., 1948., 2009., 2015., 1974., 2008.,
       1968., 2012., 1963., 1951., 1962., 1953., 1993., 1996., 1955.,
       1982., 1956., 1940., 1976., 1946., 1975., 1964., 1973., 1957.,
       1959., 1960., 1967., 1965., 1934., 1972., 1944., 1958.])

In [14]:
#I am going to replace the NaNs with 0.0 This category is informative but I don't think 
#I will need to use this category for any regression models so filling in with zero seems ok
df['yr_renovated'] = df['yr_renovated'].fillna(0.0)

In [15]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [16]:
#df.sqft_basement.unique()

In [17]:
df.sqft_basement.value_counts()

0.0       12826
?           454
600.0       217
500.0       209
700.0       208
800.0       201
400.0       184
1000.0      148
900.0       142
300.0       142
200.0       105
750.0       104
450.0       103
480.0       103
530.0       103
720.0        98
620.0        90
580.0        84
840.0        83
420.0        81
860.0        79
1100.0       78
670.0        78
550.0        76
780.0        76
650.0        75
240.0        74
380.0        73
680.0        73
360.0        72
          ...
2850.0        1
2600.0        1
602.0         1
906.0         1
1770.0        1
3260.0        1
3500.0        1
1275.0        1
588.0         1
1024.0        1
2360.0        1
1990.0        1
1525.0        1
2240.0        1
417.0         1
915.0         1
1481.0        1
2120.0        1
1852.0        1
1798.0        1
506.0         1
2610.0        1
65.0          1
2300.0        1
2720.0        1
1284.0        1
1930.0        1
1248.0        1
2190.0        1
1135.0        1
Name: sqft_basement, Length: 304, dtype: int64

In [18]:
# df['sqft_basement'] = df[df.sqft_basement != '?']
df = df[df.sqft_basement != '?'] #no more ?'s you can convert to an int now

In [19]:
df.sqft_basement.value_counts()

0.0       12826
600.0       217
500.0       209
700.0       208
800.0       201
400.0       184
1000.0      148
900.0       142
300.0       142
200.0       105
750.0       104
530.0       103
480.0       103
450.0       103
720.0        98
620.0        90
580.0        84
840.0        83
420.0        81
860.0        79
1100.0       78
670.0        78
780.0        76
550.0        76
650.0        75
240.0        74
380.0        73
680.0        73
360.0        72
850.0        72
          ...
2810.0        1
2240.0        1
1880.0        1
2600.0        1
506.0         1
2120.0        1
3260.0        1
1816.0        1
862.0         1
3480.0        1
1990.0        1
2196.0        1
2850.0        1
417.0         1
915.0         1
2250.0        1
243.0         1
3500.0        1
1275.0        1
588.0         1
1525.0        1
2610.0        1
65.0          1
374.0         1
1770.0        1
1481.0        1
1852.0        1
1798.0        1
2190.0        1
518.0         1
Name: sqft_basement, Length: 303, dtype: int64

In [29]:
df['sqft_basement'] = df.sqft_basement.astype(float) #converts to a float 
df['waterfront'] = df.waterfront.astype('str') #converts to a str
df['view'] = df.view.astype('str') #converts to a str
df['bedrooms'] = df.bedrooms.astype('str')
df['bathrooms'] = df.bathrooms.astype('str')
df['floors'] = df.floors.astype('str')
df['grade'] = df.grade.astype('str')
df['zipcode'] = df.zipcode.astype('str')

cat_df = pd.dataframe(data=df, columns= ['waterfront', 'view', 'bedrooms', 'bathrooms', 'floors', 'condition', 'grade', 'zipcode'])
con_df = pd.dataframe(data=df, columns= ['price', 'sqft_living', 'sqft_lotsquare', 'sqft_above', 'sqft_basement', 'sqft_living15', 'sqft_lot15'])
to_drop = ['id', 'yr_built', 'yr_renovated', 'lat', 'long', 'condition', 'date']
df.drop(to_drop, axis=1, inplace=True)



df.info()

AttributeError: 'DataFrame' object has no attribute 'waterfront'

In [24]:
df = pd.get_dummies(df) #turned cat variables into dummy data 
df.head()

,price,sqft_living,sqft_lot,sqft_above,sqft_basement,sqft_living15,sqft_lot15,bedrooms_1,bedrooms_10,bedrooms_11,...,zipcode_98146,zipcode_98148,zipcode_98155,zipcode_98166,zipcode_98168,zipcode_98177,zipcode_98178,zipcode_98188,zipcode_98198,zipcode_98199
0,221900.0,1180,5650,1180,0.0,1340,5650,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,538000.0,2570,7242,2170,400.0,1690,7639,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180000.0,770,10000,770,0.0,2720,8062,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,604000.0,1960,5000,1050,910.0,1360,5000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,510000.0,1680,8080,1680,0.0,1800,7503,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(df)
df.head()

,price,sqft_living,sqft_lot,sqft_above,sqft_basement,sqft_living15,sqft_lot15,bedrooms_1,bedrooms_10,bedrooms_11,...,zipcode_98146,zipcode_98148,zipcode_98155,zipcode_98166,zipcode_98168,zipcode_98177,zipcode_98178,zipcode_98188,zipcode_98198,zipcode_98199
0,221900.0,1180,5650,1180,0.0,1340,5650,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,538000.0,2570,7242,2170,400.0,1690,7639,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180000.0,770,10000,770,0.0,2720,8062,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,604000.0,1960,5000,1050,910.0,1360,5000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,510000.0,1680,8080,1680,0.0,1800,7503,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['date'].sort_values(ascending=True)

In [ ]:
df['date'].hist(figsize=(15,5))

In [ ]:
#May, 2 2014- May, 27 2015 the dataset timetable 
df.hist(figsize=(20,15));

In [ ]:
df.head()

In [ ]:
data_pred = df.iloc[:,3:21]
data_pred.head()

In [ ]:
#pd.plotting.scatter_matrix(data_pred, figsize = [8, 8]); #Shows us multicolinerity 
#data_pred.corr()

In [ ]:
#abs(data_pred.corr()) > 0.75 
#abs(df.corr()) > 0.75

In [28]:
#sns.heatmap(data_pred.corr(), center=0, cmap='YlGnBu');

NameError: name 'data_pred' is not defined

In [ ]:
#ax, fig = plt.subplots(figsize = (15, 10))
#sns.heatmap(df.corr(), annot=True, cmap='RdBu')
#plt.show() #Looks like bathrooms, sqft_living, grade, sqft_above, and sqft_living15
                                                #all have positive relationships to target variable

In [ ]:
np.round(df.describe()) #rounded all the data

In [ ]:
df.sqft_basement.value_counts()

In [ ]:
#sns.pairplot(data=df, x_vars=[
    'sqft_living', 'sqft_above', 'grade', 'condition', 'bathrooms', 'bedrooms', 
    'floors', 'sqft_basement', 'yr_built'], y_vars=['price'])

In [ ]:
sns.pairplot(data=df, x_vars=['sqft_living', 'grade'], y_vars=['price'])

In [ ]:
sns.jointplot(x='sqft_living', y='price', data=df, kind='reg')

In [ ]:
sns.jointplot(x='grade', y='price', data=df, kind='reg')

In [ ]:
df.info()

In [ ]:
#Many variables are skewed and there is great variability in the data set so lets use log trans
features1 = df.iloc[:,1:6]
features2 = df.iloc[:,8:17]

#data_log = pd.DataFrame([])
#data_log['price'] = np.log()

In [ ]:

#import statsmodels.api as sm
#from statsmodels.formula.api import ols 

#housing_model = ols("price ~ grade", data=df).fit()
#houseing_model_summary = housing_model.summary()
#housing_model_summary.show()

#housing_model = ols("""price ~ sqft_above
                              #+ sqft_lotsquare
                              #+ sqft_basement
                              #+ sqft_living15
                              #+ sqft_lot15""", data=df).fit()
#housing_model_summary = housing_model.summary()
#HTML(housing_model_summary.as_html())